/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/****-----start-body----****/
body{
	background: #;
    font-family: 'Quicksand', sans-serif;
}
.wrap {
	width:80%;
	margin:0 auto;
}
.main-content{
	width:40%;
	margin:60px auto;
	background-color: #fff;
}

h1{
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin-top: 60px;
}

/*----sap-----*/
.sap_tabs {
     margin: 0 auto;
    padding: 40px 30px;
    -webkit-appearance: none;
 }
 
.register{
  padding: 10% 0% 0% 0%;
}

.resp-tab-item{
  border:none;
  color: #223648;
  font-size: 18px;
  cursor: pointer;
  padding:8px 0px;
  margin:0 30px 0 0;
  display: inline-block;
  list-style: none;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-appearance: none;
  text-transform:uppercase;
  font-weight: 600;
}
.resp-tab-active {
    border: none;
    text-shadow: none;
    color: #CA1216;
    background: transparent;
    border-bottom: 3px solid #b52e31;
}
.resp-tab-item:hover {
	text-shadow: none;
    color: #CA1216;
    border-bottom: 3px solid #b52e31;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
}
.resp-content-active, .resp-accordion-active {
   display: block;
}

/*---------*/
.register input[type="text"],.register input[type="password"] {
	outline: none;
    font-size: 16px;
    color: #000000;
    padding: 20px 4%;
    width: 92%;
    background: #F5FAFF;
    margin-top: 1px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
	font-weight:600;
	letter-spacing:1px;
}

.register input[type="submit"] {
    background:#CA1216;
    color: #fff;
	border: none;
    font-size:17px;
	padding: 14px 0px;
    width: 100%;
    cursor: pointer;
    outline: none;
    margin-top:30px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	font-family: 'Quicksand', sans-serif;
	font-weight:700;
	text-transform:uppercase;
}
.register input[type="submit"]:hover{
    background:#227279;
}
 ::-webkit-input-placeholder{
	color:#000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}

:-ms-input-placeholder {  
   color: #000;  
}


.register p{
	    color: #223648;
    font-size: 14px;
    display: block;
    margin-top: 35px;
    text-align: center;
    font-weight: 700;
}
.register p a{
	color: #CA1216;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.register p a:hover {
	color:#CA1216;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/*---------------*/
.copy-right {
  text-align: center;
   margin:30px 0px;
   color:#fff;
}
.copy-right p {
	color: #fff;
	font-size: 16px;
	font-weight:400;
}
.copy-right p a {
	  color: #F9BEBF;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.copy-right p a:hover {
	text-decoration: underline;
	color:#fff;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}


/*--responsive--*/

@media screen and (max-width:1366px){
	.main-content {
		width: 43%;
		margin: 50px auto;
	}
}
@media screen and (max-width:1280px){	
	.main-content {
		width: 45%;
	}
}
@media screen and (max-width:1080px){
	h1 {
		font-size: 45px;
	}
	.main-content {
		width: 50%;
	}
}
@media screen and (max-width:1050px){
	.main-content {
		width: 52%;
	}
}
@media screen and (max-width:900px){
	.main-content {
		width: 55%;
	}	
}
@media screen and (max-width:800px){
	.main-content {
		width: 58%;
	}	
	.sap_tabs {
		padding: 35px 25px;
	}
	.wrap {
		width: 90%;
	}
}
@media screen and (max-width:667px){
	.main-content {
		width: 65%;
	}
}
@media screen and (max-width:640px){
	.main-content {
		width: 65%;
	}	
	.sap_tabs {
		padding: 30px 20px;
	}
	.wrap {
		width: 95%;
	}
	h1 {
		font-size: 42px;
	}
	.resp-tab-item {
		font-size: 17px;
	}
}
@media screen and (max-width:480px){
	.main-content {
		width: 80%;
	}	
	.sap_tabs {
		padding: 25px 15px;
	}
	.wrap {
		width: 95%;
	}
	h1 {
		font-size: 38px;
	}
	.resp-tab-item {
		font-size: 16px;
	}
	.copy-right p {
		font-size: 15px;
	}
	.wrap {
		width: 97%;
	}
}
@media screen and (max-width: 384px){
	.main-content {
		width: 85%;
		margin: 40px auto;
	}
	h1 {
		font-size: 36px;
		margin-top: 45px;
	}
	.register p {
		font-size: 13px;
	}
}
@media screen and (max-width:375px){
	h1 {
		font-size: 35px;
		margin-top: 40px;
	}
	.main-content {
		width: 85%;
		margin: 30px auto;
	}
	.resp-tab-item {
		margin: 0 20px 0 0;
	}
	.register input[type="text"], .register input[type="password"] {
		font-size: 15px;
		padding: 18px 4%;
	}
	.register input[type="submit"] {
		font-size: 16px;
		padding: 13px 0px;
	}
}
@media screen and (max-width:320px){
	.main-content {
		width: 90%;
	}	
	h1 {
		font-size: 32px;
		margin-top: 35px;
	}
	.resp-tab-item {
		margin: 0 15px 0 0;
		font-size: 15px;
		    padding: 5px 0px;
	}
	.copy-right p {
		font-size: 14px;
		line-height:24px;
	}
	.register input[type="text"], .register input[type="password"] {
		font-size: 14px;
		padding: 15px 4%;
	}
	.register p {
		font-size: 12px;
	}
}